/* filepath: /home/tino/tinodevstuff/reactprac/prac/src/App.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-gray-900 text-white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}