:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

form {
  font-size: 1.2em;
  line-height: 1.1;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #646cff;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}

input[type="submit"]:hover {
  background-color: #535bf2;
}

button[type="clear"] {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #646cff;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
  margin-left: 10px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;

}

p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

ul {
  list-style-type: circle;
  padding: 0;
  font-size: 2em;
  
}

li {
  background-color: #333;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  li {
    background-color: #f0f0f0;
    color: #213547;
  }
}
